@using dotnetCoreMVC

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-8">Asp dot net Core 2</h1>
    <br />
    <p>Aplikacja testowa w dot net core 2</p>
    <p>Utworzona za pomocą VS Code</p>
    <a href="/Author/Show/1">Pokaz ksiazki i autorów</a>
    <br />
    <a href="/Author/Show/1">Wyszukaj ksiazki</a>
    <br />
    <br />
    Przekazywanie danych poprzez tablice asocjacyjna jak w php i laravelu
    <br />
    <a href="/ArrayTest/1">Przyklad</a>
    <br />
</div>
